h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-pag-a {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
