/* 포스터 + 정보 묶은 부분 */
.movie-detail {
  overflow: hidden;
  box-sizing: border-box;
  margin: 70px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 90vw;
  gap: 40px;
  color: white;
}

/* 제목 평점 장르 줄거리까지 다 묶은 부분 */
.movie-detail-introduce {
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column; /* 아이템을 세로 방향 순서대로 흐르게 만들기 */
  justify-content: center;
  width: 600px;
  gap: 30px;
}

/* 제목과 평점 부분 */
.movie-detail-introduce-a {
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.imgs {
  position: relative;
}

.movie-detail-img {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.movie-detail-img-child {
  position: absolute;
  left: 0;
  bottom: 0.75em;
}

/* .movie-detail-img-back {
  position: absolute;
  left: 0;
  width: 100vw;

  opacity: 0.25;
}

.movie-detail-img-child {
  position: absolute;
  flex: 1;
  top: 8rem;
  left: 200px;
  min-width: 500px;
  opacity: 1;
  z-index: 80;
} */
