.movie-map {
  /* box-sizing: border-box; */
  color: white;
}

.movie-map-box {
  margin-bottom: 70px; /* 사진크기를 맞추면 글씨가 잘려서 마진을 줌*/
  width: 350px;
  height: 500px;
}
.movie-map-box img {
  width: 100%; /* 부모 사이즈에 비례 */
  height: 100%;
}
